<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言本</title>
    <link href="/asp/Style/css/index.css" rel="stylesheet" type="text/css">
    <script language="JavaScript" src="/asp/Style/js/index.js"></script>
</head>
<body>
<div id="main">
    <div id="header">
    <img src="/asp/Style/img/logo.png" width="150" height="50">
        <div id="login">
            {{if $data['user']==''}}
            <form action="/asp/login.php" method="post" onsubmit="return checkLogin()">
                <input type="text" placeholder="请输入用户名" name="username" id="username">
                <input type="password" placeholder="请输入密码" name="password" id="password">
                <input type="submit" value="登陆">
            </form>
            {{else}}
            <p id="welcome">欢迎回来，{{$data['user']}}! &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp<a href="/asp/logout.php">退出</a></p>
            {{/if}}
        </div>
    </div>
    <h3>共6条留言</h3>
    <div id="msg">
        {{foreach item=vo from=$data['all']}}
        <div>
            <p class="style0">用户名：{{$vo.user}}&nbsp;|&nbsp;{{$vo.time}}
            <div class="content">{{$vo.content}}</div>
            {{if $vo.reply!=null}}
            <div style="font-size:14px;color:red;line-height:25px;margin-left: 10px">管理员回复：{{$vo.reply}}</div>
            {{/if}}
            {{if $data['user']!=''}}
            <span style="font-size: 14px;color:#cc0000;margin-left: 10px">{{if $vo.reply!=null}}已回复{{else}}<a href="reply.php?id={{$vo.id}}">回复</a>{{/if}}&nbsp;<a href="delete.php?id={{$vo.id}}"  onclick="return confirm('你确定要删除吗？')">删除</a></span>
            {{/if}}
        </div>
        {{/foreach}}
    </div>
    {{$data['show']}}
    <div id="add">
        <fieldset>
            <legend>发表留言</legend>
            <form action="/asp/add.php" method="post" onsubmit="return checkAdd()">
                <table border="0" cellpadding="5" cellspacing="0" width="0">
                    <tr>
                        <td width="20%">留言标题</td>
                        <td>
                            <input type="text" name="title" id="title" size="30">
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">用户名</td>
                        <td>
                            <input type="text" name="user" id="user" size="30">
                        </td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>
                            <textarea name="content" id="content" cols="42" rows="5"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input name="action" value="insert" type="hidden">
                            <input value=" 提 交 " name="submit" class="button" type="submit">
                        </td>
                    </tr>
                </table>
            </form>
        </fieldset>
        <br>
    </div>
</div>
</body>
</html>